!!! 5
html
    head
        title City Database
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //
           Bootstrap
        link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='/assets/css/custom.css', rel='stylesheet')
        //
           HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //
           WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    body
        .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Cities
            //
               /.container
        //
           /.navbar
        .container
            .row.row-offcanvas.row-offcanvas-right
                .col-xs-12.col-sm-9
                    p.pull-right.visible-xs
                        button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle nav
                    .jumbotron
                        p This page includes City informations
                    .row
                        .col-6.col-sm-6.col-lg-12
                            table.table.table-striped
                                thead
                                    tr
                                        th Name
                                        th Location
                                        th Population
                                        th State
                                tbody
                                    each city, i in cities
                                        tr
                                            td #{city.city)
                                            td #{city.loc}
                                            td #{city.pop}
                                            td #{city.dummy}
                        //
                          /span
                    //
                      /row
                //
                  /span
            //
              /.container
            //
               jQuery (necessary for Bootstrap's JavaScript plugins)
            script(src='https://code.jquery.com/jquery.js')
            //
               Include all compiled plugins (below), or include individual files as needed
            script(src='/assets/js/bootstrap.min.js')
